{% extends 'basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>
</style>
{% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->
<!-----HEADER-------->
{% block header %}
<div class = "row">
    <div class="font-20B headertitel"> Faalangst Trainingen </div>
    <div class = "headerveld"> “Helpen om faalangst te overwinnen en zelfvertrouwen op te bouwen. Mijn trainingen zijn 
        gericht op het aanleren van effectieve technieken om met spanning en stress om te gaan.”</div> 
</div>
{% endblock %}
<!----// -HEADER----->