{% extends 'basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>
</style>
{% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->
<!-----HEADER-------->
{% block header %}
<div class = "row">
    <div class="font-20B headertitel"> Leer Leren Training   </div>
    <div class = "headerveld"> 
    Leer strategieën die kinderen helpen om beter te plannen, te concentreren en meer uit hun schooltijd te halen. 
    Ideaal voor kinderen die moeite hebben met zelfstandig werken.”
    Elke dienst kan een "Lees meer" link hebben die de bezoeker meer gedetailleerde informatie biedt. 
    Je kunt ook een kort stukje over je methoden en visie toevoegen, zodat ouders weten wat ze van jou kunnen verwachten.

    </div> 
</div>
{% endblock %}
<!----// -HEADER----->