{% extends 'basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>

    
   
</style>
{% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->
<!--------BANNER----->
{% block banner %}
<div class = "logo">
   <img src="{% static 'img/logolang.png' %}" alt="">
</div>
{% endblock %}
<!-----//---BANNER--->
<!-----HEADER-------->
{% block header %}
<div class = "row"><div class="font-20B headertitel"> Remedial teaching </div> </div>
<!---->
<div class = "row"> 
    <div class = "col-6 RT"> 
        <a href="/trainingen/nederlands.html">  <img src="{% static 'img/RT.jpg' %}" alt="">   </a> 
    </div>
    <div class = "col-6 RT_tekst font-10">
        “Ik bied op maat gemaakte remedial 
        teaching aan voor leerlingen die moeite hebben met rekenen of taal. De lessen zijn altijd 
        afgestemd op de specifieke behoeften en leerstijl van het kind.”
    </div>
</div>


<!---->
<div class = "row"> 
    <div> 
        <div class = "RT_tekst font-10"> 
            <strong>RT Nederlands (taal en spelling): </strong> <br>
            Ik help kinderen en jongeren stap voor stap met het verbeteren van hun taalvaardigheden. Dit kan gaan over:
            <ul class = "training-tekst">
                <li> <strong>Spelling en grammatica:  </strong> De regels leren en toepassen, zodat schrijven makkelijker wordt.</li>
                <li><strong>Begrijpend lezen:</strong>  Teksten beter begrijpen en er vragen over kunnen beantwoorden.</li>
                <li><strong>Woordenschat en taalgevoel: </strong> Nieuwe woorden leren en taal gebruiken in de juiste context.</li>
                <li> <strong> Schrijfvaardigheid: </strong>Helpen om duidelijk en correct te leren schrijven.</li>
            </ul>
        </div>
    </div>
</div>
<!---->
<div class = "row"> 
    <div> 
        <div class = "RT_tekst font-10"> 
            <strong>RT Rekenen (basisschoolniveau): </strong> <br>
            Hier ondersteunen we kinderen die extra hulp nodig hebben om rekenen beter onder de knie te krijgen. We werken aan:
            <ul class = "training-tekst1 font-10">
                <li> <strong>Basisvaardigheden:</strong> Optellen, aftrekken, vermenigvuldigen en delen.</li>
                <li> <strong>Automatiseren:</strong> Rekenen wordt sneller en makkelijker door veel te oefenen.</li>
                <li> <strong>Probleemoplossend rekenen:</strong> Rekenen toepassen in situaties uit het dagelijks leven.</li>
                <li> <strong>Zelfvertrouwen in rekenen:</strong> Zorgen dat je minder bang wordt voor moeilijke sommen.</li>    
            </ul>
        </div>
    </div>
</div>
<!---->
{% endblock %}
<!----// -HEADER----->