{% extends 'basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>
</style>
{% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->
<!-----HEADER-------->
{% block header %}
<div class = "row">
    <div class="font-20B headertitel"> Remedial teaching </div>
    <div class = "headerveld"> 
        “Ik bied op maat gemaakte remedial 
        teaching aan voor leerlingen die moeite hebben met rekenen of taal. De lessen zijn altijd 
        afgestemd op de specifieke behoeften en leerstijl van het kind.”
    </div> 
</div>
{% endblock %}
<!----// -HEADER----->