{% extends 'basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>
</style>
{% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->

<!--------BANNER----->
{% block banner %}
<div class = "logo">
   <img src="{% static 'img/logolang.png' %}" alt="">
</div>
{% endblock %}
<!-----//---BANNER--->

<!-----HEADER-------->
{% block header %}
<div class = "row">
    <div class="font-20B headertitel"> Contact / inschrijving </div>
    <div class = "headerveld"></div> 
</div>
{% endblock %}
<!----// -HEADER----->


<!----------SECTION----->
{% block section1 %}
<!----> 
{% if submitted %}
    <div class = "TxtCenter"> <br> <br> Bedankt voor uw inschrijving! <br><br>
        Ik neem zo spoedig mogelijk contact met u op.
    </div>
{% else %}  
<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<!----> 
<div class ="row">
    <div class = "col-4 form">{{ co_form.naam.label_tag }} </div>
    <div class = "col-4 form_box">{{ co_form.naam }} </div>
</div>
<!----> 
<div class ="row">
    <div class = "col-4 form"> {{ co_form.email.label_tag }}</div>
    <div class = "col-4 form_box">{{ co_form.email }}</div>
</div>
<!----> 
<div class ="row">
    <div class = "col-4 form">{{ co_form.telefoon.label_tag }}</div>
    <div class = "col-4 form_box">{{ co_form.telefoon }}</div>
</div> 
<!----> 
<div class ="row">
    <div class = "col-4 form">{{ co_form.leeftijd.label_tag}} </div>
    <div class = "col-4 form_box">{{ co_form.leeftijd}}</div>
</div>
<!---->  
<div class ="row">
    <div class = "col-4 form"> {{ co_form.niveau.label_tag }}</div>
    <div class = "col-4 form_box">{{ co_form.niveau }}</div>
</div>
<!----> 
<div class ="row">
    <div class = "col-4 form">{{ co_form.training.label_tag }}</div>
    <div class = "col-4 form_box">{{ co_form.training.as_widget }}</div>
</div> 
<!----> 
<div class="row">
    <button type ="submit" name = "submitted" class = "button_formulier" value = "true"> Verzenden  </button>
</div>
<!-------sluiting formulier----> 
</form>
{% endif %}
<!-------sluiting formulier----> 
{% endblock %}
<!-----//---SECTION----->



<!-----SECTION-------->
{% block section3 %}
{% endblock %}
<!--//-SECTION-------->


