{% extends 'basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>

</style>
{% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->

<!--------BANNER----->
{% block banner %}
<div class = "logo">
   <img src="{% static 'img/logolang.png' %}" alt="">
</div>
{% endblock %}
<!-----//---BANNER--->

<!-----HEADER-------->
{% block header %}
<div class = "row">
    <div class="font-20B headertitel"> Trainingen </div>
    <div class = "headerveld"></div> 
</div>
{% endblock %}
<!----// -HEADER----->


<!-----SECTION-------->
{% block section2 %}
<div class = "row">
    <div class="col-25">  
        <div class = "trainli fotoA"> 
            <a href="/trainingen/faalangst.html">   <img src="{% static 'img/training/faalangst.jpg' %}" alt="">  </a>
            <a href="/trainingen/faalangst.html">   Faalangsts Trainingen  </a>
        </div>
    </div>
     <div class="col-25">  
         <div class = "train"> 
            <a href="/trainingen/leerleren.html">  <img src="{% static 'img/training/boeken.jpg' %}" alt="">   </a>
            <a href="/trainingen/leerleren.html">     Ik Leer Leren Trainingen  </a>
          </div>
    </div>
     <div class="col-25">  
         <div class = "train"> 
            <a href="/trainingen/remedial.html"> <img src="{% static 'img/training/taal_rekenen.jpg' %}" alt="">   </a>
            <a href="/trainingen/remedial.html">      Remedial Teaching  </a> 
          </div>
    </div>
    <div class="col-25">  
        <div class = "train fotoA"> 
            <a href="/trainingen/nederlands.html">  <img src="{% static 'img/training/steen_pad.jpg' %}" alt="">   </a> 
            <a href="/trainingen/nederlands.html">     Nederlands <br> <br>  </a>
        </div>
    </div>

</div>
{% endblock %}  
<!--//-SECTION-------->


