{% extends 'basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>

</style>
{% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->

<!--------BANNER----->
{% block banner %}
<div class = "logo">
   <img src="{% static 'img/logolang.png' %}" alt="">
</div>
{% endblock %}
<!-----//---BANNER--->

<!-----HEADER-------->
{% block header %}
<div class = "row">
    <div class="font-20B headertitel"> Teaching / Coaching </div>
    <div class = "headerveld"></div> 
</div>
{% endblock %}
<!----// -HEADER----->
<!-----SECTION-------->
{% block section1 %}
<div class = "row">
    <div class = "col-6 padding" >
        "Hallo, ik ben Michelle den Os, gecertificeerd docent en trainer. Ik bied persoonlijke begeleiding aan leerlingen die extra ondersteuning nodig hebben in rekenen, 
        taal, Nederlands, faalangsttrainingen en 'ik leer leren' programma's. Mijn aanpak is praktijkgericht, met oog voor de specifieke behoeften 
        van elke leerling."
    </div>

    <div class = "col-6">
        <div class = "profiel">
            <img src="{% static 'img/profiel.jpg' %}" alt="">
        </div>
    </div>
</div>
{% endblock %}
<!--//-SECTION-------->
<!-----BLANCO-------->
{% block blanco1 %}
<div class = "row">
    <div class="font-20B headertitel margin"> Trainingen </div>
    <div class = "headerveld"></div> 
</div>
{% endblock %}
<!----// -BLANCO----->


<!-----SECTION-------->
{% block section2 %}
<div class = "row">
    <div class="col-25">  
        <div class = "trainli"> 
            <a href="/trainingen/faalangst.html">   <img src="{% static 'img/training/faalangst.jpg' %}" alt="">  </a>
            <a href="/trainingen/faalangst.html">   Faalangsts Trainingen  </a>
        </div>
    </div>
     <div class="col-25">  
         <div class = "train"> 
            <a href="/trainingen/leerleren.html">  <img src="{% static 'img/training/boeken.jpg' %}" alt="">   </a>
            <a href="/trainingen/leerleren.html">     Ik Leer Leren Trainingen  </a>
          </div>
    </div>
     <div class="col-25">  
         <div class = "train"> 
            <a href="/trainingen/remedial.html"> <img src="{% static 'img/training/taal_rekenen.jpg' %}" alt="">   </a>
            <a href="/trainingen/remedial.html">      Remedial Teaching  </a> 
          </div>
    </div>
    <div class="col-25">  
        <div class = "train"> 
            <a href="/trainingen/nederlands.html">  <img src="{% static 'img/training/steen_pad.jpg' %}" alt="">   </a> 
            <a href="/trainingen/nederlands.html">     Nederlands <br> <br>  </a>
            </div>
    </div>

</div>
{% endblock %}  
<!--//-SECTION-------->
<!-----BLANCO-------->
{% block blanco2 %}
<div class = "row">
    <div class="font-20B headertitel margin"> Kennismakingsgesprek </div>
    <div class = "headerveld"></div> 
</div>
{% endblock %}
<!----// -BLANCO----->
<!-----SECTION-------->
{% block section3 %}
<div class = "row">
    <div class = "col-6 padding" >
      Wilt u een kennismakingsgesprek, dat is mogelijk. Vul aub dan formulier in. 
    </div>

    <div class = "col-6">
            <div class="path"> 
                <span class="border-span"> <a href="/contact.html">Kennismaking  </a></span>
            </div>
    </div>
</div>

{% endblock %}
<!--//-SECTION-------->