{% extends 'basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>
.headertitel{text-align: center;padding: 0 0 1% 0;background-color:inherit;}
.headerveld {line-height:1.5; width:100%;text-align:center;padding:0% 5% 2% 5%;margin:0 0 0 0;background-color:inherit;}

.train{width:200px; height: 200px; background-color: #3f4344; clip-path: inset(0 0 round 20px);margin: 5% 5% 5% 5%; padding:5% 10% 20% 10%;}
col-25{width:25%;}

</style>
{% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->

<!--------BANNER----->
{% block banner %}
<div> <img src="{% static 'img/logolang.png' %}" alt=""></div> 
<br><br><br>
{% endblock %}
<!-----//---BANNER--->

<!-----HEADER-------->
{% block header %}
<div class = "row">
    <div class="font-20B headertitel">  </div>
    <div class = "headerveld"></div> 
</div>
{% endblock %}
<!----// -HEADER----->
<!-----SECTION-------->
{% block section1 %}
    "Hallo, ik ben Michelle den Os, gecertificeerd docent en trainer. Ik bied persoonlijke begeleiding aan leerlingen die extra ondersteuning nodig hebben in rekenen, 
    taal, Nederlands, faalangsttrainingen en 'ik leer leren' programma's. Mijn aanpak is praktijkgericht, met oog voor de specifieke behoeften 
    van elke leerling."
{% endblock %}
<!--//-SECTION-------->
<!-----SECTION-------->
{% block section2 %}
<div class = "row">
    <div class="col-25">  
        <div class = "train"> 
            <a href="/trainingen/faalangst.html">   Faalangsts Trainingen  </a>
        </div>
    </div>
     <div class="col-25">  
         <div class = "train"> 
              <a href="/trainingen/leerleren.html">     Ik Leer Leren Trainingen  </a>
          </div>
    </div>
     <div class="col-25">  
         <div class = "train"> 
             <a href="/trainingen/remedial.html">      Remedial Teaching  </a> 
          </div>
    </div>
    <div class="col-25">  
        <div class = "train">  
               <a href="/trainingen/nederlands.html">     Nederlands  </a>
            </div>
    </div>

</div>
{% endblock %}
<!--//-SECTION-------->
<!-----SECTION-------->
{% block section3 %}
Deze kleur
{% endblock %}
<!--//-SECTION-------->