{% extends 'basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>
.overzicht{margin:2% 2% 2% 10%;background-color:inherit;width:80%;}
.fixed_header {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
    background-color:inherit;width:80%;

    /* margin:2% 2% 2% 2%; */
}

.fixed_header tr:nth-child(even) {
    background-color: #f2f2f2;
}
.fixed_header tr:nth-child(odd) {
    background-color: #f4dfdf;
}

.fixed_header tr:hover {
    background-color: #ddd;
}

.fixed_header tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 400px;
}

.fixed_header thead tr {
    display: block;
    background-color: #3f4344;


}

.fixed_header thead {
    color: #fff;
}

.fixed_header thead th {
    border: 1px solid white;
    background-color:inherit;width:35%;
}

.fixed_header tbody td {
    border: 1px solid gray;
    background-color:inherit;width:35%;
}

.fixed_header th,.fixed_header td {
    padding: 5px;
    text-align: left;
}

</style>
{% endblock %}
{% block head %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> {% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->

<!--------BANNER----->
{% block banner %}
<div class = "logo">
   <img src="{% static 'img/logolang.png' %}" alt="">
</div>
{% endblock %}
<!-----//---BANNER--->

<!-----HEADER-------->
{% block header %}
<div class = "row">
    <div class="font-20B headertitel"> Tarieven </div>
    <div class = "headerveld"></div> 
</div>
{% endblock %}
<!----// -HEADER----->

<!-----SECTION------->
{% block section1 %}
<div class= "row"> 
<div class="overzicht">
    <table id="table_1" class="fixed_header">
         <thead>
            <tr id="header_row">
                <th> Training </th>
                <th> Aantal </th>
                <th> Prijs </th>
                <th> Tijdsbestek </th>
            </tr>
        </thead>
        <tbody id="tbody">
            <tr>
                <th> Training </th>
                <th> Aantal </th>
                <th> Prijs </th>
                <th> Tijdsbestek </th>
            </tr>
                 
            <tr>
                <td>Individueel</td>
                <td>1 op 1 </td>
                <td> € 50,- </td>
                <td> 1 uur </td>
            </tr>

            <tr>
                <td>Groepsessie</td>
                <td>max. 4 kinderen </td>
                <td> € 35,- per kind    </td>
                <td> 1 uur </td>
            </tr>
            <tr>
                <td>Pakket: Faalangst</td>
                <td>5 sessies</td>
                <td>€ 250, - </td>
                <td>1 uur per sessie</td>
            </tr>

             <tr>
                <td>Pakket: Remedial Teaching</td>
                <td>10 sessies </td>
                <td>€ 450, - </td>
                <td>1 uur per sessie</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}  
<!--//-SECTION-------->


<!-----SCRIPTS-------->
{% block footer_scripts %}
<script>
$( document ).ready(function() {  
    $('#header_row').width(
    $('#header_row').width() - ($('#table_1').width() - $('#tbody').width()))
});
</script>
{% endblock %}
<!--//-SCRIPTS-------->


