{% extends 'basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>
/* 
#table_1 >>> id voor de tabel 
#tbody >>> id voor de body van de tabel
>> ivm javascript 
*/



</style>
{% endblock %}
{% block head %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> {% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->

<!--------BANNER----->
{% block banner %}
<div class = "logo">
   <img src="{% static 'img/logolang.png' %}" alt="">
</div>
{% endblock %}
<!-----//---BANNER--->

<!-----HEADER-------->
{% block header %}
<div class = "row">
    <div class="font-20B headertitel"> Tarieven </div>
    <div class = "headerveld"></div> 
</div>
{% endblock %}
<!----// -HEADER----->


<!-----SECTION------->
{% block section1 %}
<div class= "row"> 
<div class="overzicht">
    <table id="table_1" class="fixed_header">
       <!--  <thead>
           <tr id="header_row">
                <th> Prijsoverzicht </th>
            </tr>
        </thead> -->

        <tbody id="tbody">
            
            <tr>
                <th> Training </th>
                <th> Aantal </th>
                <th> Prijs </th>
                <th> Tijdsbestek </th>
            </tr>
             <tr>
                <td>Kennismaking</td>
                <td>1 sessie </td>
                <td>gratis</td>
                <td>15 min</td>
            </tr>
            <tr>
                <td>Leer Leren</td>
                <td> 1 op 1 </td>
                <td> € 80,-</td>
                <td>1,5 uur </td>
            </tr>
            <tr>
                <td>Remedial Teaching</td>
                <td>1 op 1 </td>
                <td> € 55,- </td>
                <td> 1 uur </td>
            </tr>

            <tr>
                <td>Groepsessie: RT</td>
                <td>max. 4 kinderen </td>
                <td> € 35,- per kind    </td>
                <td> 1 uur </td>
            </tr>
           <!--<tr>
                <td>Pakket: Faalangst *</td>
                <td>5 sessies, 2 tot 4 personen</td>
                <td>€ 175, - </td>
                <td>1 uur per sessie</td>
            </tr> -->
             <tr>
                <td>Pakket: RT  </td>
                <td>10 sessies </td>
                <td>€ 500, - </td>
                <td>1 uur per sessie</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<!--
<div class= "row"> 
    * Groepsessie wenselijk, individueel ook mogelijk. <br> 
    Voor een goed resultaat minimaal 5 gezamelijke lessen nodig. 
</div>
{% endblock %}  -->
<!--//-SECTION--------> 


<!-----SCRIPTS-------->
{% block footer_scripts %}
<script>
$( document ).ready(function() {  
    $('#header_row').width(
    $('#header_row').width() - ($('#table_1').width() - $('#tbody').width()))
});

//Dit zorgt ervoor de de kolomkoppen netjes uitgelijnd blijven met de tabel, zelfs bij een horizontale scrollbar
</script>
{% endblock %}
<!--//-SCRIPTS-------->


